.chat-bubble {
    -fx-background-radius: 20;
    -fx-padding: 10;
    -fx-max-width: 70%;
}

.admin-bubble {
    -fx-background-color: #DCF8C6;
    -fx-text-fill: #000000;
}

.user-bubble {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
}

.chat-box {
    -fx-background-color: #E5DDD5;
}